extends layout_exit

block body
  br
  br
  .main.container
    .row
      .col-md-6.col-md-offset-2
        h1.display-4.m-b-2 Creating directory struct

        div.jumbotron
          h4 or cloning, or something like that

  script.
      setTimeout(function(){location.href="/teams"} , 1000);