extends layout_new

block body
  br
  br
  .main.container
    .row
      .col-md-6.col-md-offset-2
        h1.display-4.m-b-2 Export/COMMIT

        div.jumbotron
          h4 Download locally
          form(method='POST' action='/reset')
            div.form-group

            button.btn.btn-primary(type='submit') Download

        | For more navigate to
        |
        a(href='https://github.com/daemonna/ansible_userman') GitHub

