extends layout

block body
  br
  br
  .main.container
    .row
      .col-md-6.col-md-offset-2
        h1.display-4.m-b-2 NEW PROJECT

        div.jumbotron
          form(method='POST' action='/create_struct')
            div.form-group
              label(for='gitpath') GIT_PATH
              input.form-control(type='textarea' required='' id='proj_path' placeholder='GIT path where are your vars/*.yml resides' name='proj_path')
            button.btn.btn-primary(type='submit', disabled='') Use GIT

          form(method='POST' action='/create_struct')
            div.form-group
              label(for='gitpath') Local folder
              input.form-control(type='textarea' required='' id='proj_path' placeholder='LOCAL FOLDER (to be created) where are your vars/*.yml resides' name='proj_path')
            button.btn.btn-primary(type='submit') Create local

        | For more navigate to
        |
        a(href='https://github.com/daemonna/ansible_userman') GitHub

