extends layout_exit

block body
  br
  br
  .main.container
    .row
      .col-md-6.col-md-offset-2
        h1.display-4.m-b-2 Exit project

        div.jumbotron
          h4 Your data has been destroyed. Now you can start NEW PROJECT :)

  script.
    setTimeout(function(){location.href="/"} , 3000);