extends layout_new

block body
  br
  br
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Users

        form(method='POST' action='/create_user')
          div.form-group
            label(for='hostname') username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='aliasname') name or comment
            input.form-control(type='text' id='namecomment' placeholder='name, email, telephone or comment...' name='namecomment')
          div.form-group
            label(for='teams') already existing teams
            p
            select(name='teams', multiple='')
              each val in teams
                option(value=!{val}) #{val}
          div.form-group
            label(for='sshkey') ssh key
            input.form-control(type='text' id='sshkey' placeholder='users ssh key' name='sshkey')
          button.btn.btn-primary(type='submit') Create

